@charset "UTF-8";
*{margin: 0; padding: 0;}
a{text-decoration: none; color: inherit;}
ol, ul{list-style: none;}
/*app*/
#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #686868;
    word-break: keep-all;
}
#app{
    background-color: white;
    width: 360px;
    height: 640px;
    border: 1px solid #222;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 2rem 2rem;
    text-align: center;
    h2{
        padding-bottom: 1rem;
    }
    ul{
        padding: 1rem;
    }
}
#categories{
    margin: 2rem;
    ul{
        li{
            cursor: pointer;
            margin: 0.5rem 0;
        }
    }
}
#quiz-page{
    h2{
        padding: 2rem;
    }
    p{
        padding-bottom: 1.5rem;
    }
    ul{
        li{
            margin: 0.5rem;
            cursor: pointer;
        }
    }
    h4{
        padding: 2rem;
    }
}
#result{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    p{
        font-size: larger;
        font-weight: 700;
    }
    button{
        cursor: pointer;
        padding: 0.5rem;
    }
}
@media all and (max-width:360px) {
    #app{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
    }
}