@charset "UTF-8";
@font-face {
    font-family: 'OngleipParkDahyeon';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}
*{
    font-family: 'OngleipParkDahyeon';
    margin: 0;
    padding: 0;
}
a{text-decoration: none; color: inherit;}
ol, ul{list-style: none;}
/*app*/
#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #686868;
    word-break: keep-all;
}
#app{
    background-color: white;
    width: 360px;
    height: 640px;
    border: 1px solid #222;
    box-sizing: border-box;
    border-radius: 1.5rem;
    padding: 2rem 2rem;
    text-align: center;
    h2{
        padding-bottom: 1rem;
    }
    ul{
        padding: 1rem;
    }
}
#categories{
    margin: 2rem;
    ul{
        li{
            cursor: pointer;
            margin: 0.5rem 0;
        }
    }
}
#quiz-page{
    h2{
        padding: 2rem;
    }
    > p{
        padding-bottom: 1.5rem;
    }
    ul{
        li{
            margin: 0.5rem;
            cursor: pointer;
        }
    }
    .score{
        display: flex;
        flex-direction: row;
        justify-content:space-between ;
        align-items: center;
        p{
            font-size: 0.75rem;
            font-weight: 600;
        }
        h4{
            span{
                font-size: 0.75rem;
                font-weight: 600;
            }
        }
    }
    
}
#result{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    > p{
        font-size: larger;
        font-weight: 700;
    }
    .final-score{
        p{
            font-size: 1.5rem;
            font-weight: 600;
        }
        h3{
            font-size: 2rem;
        }
    }
    button{
        cursor: pointer;
        padding: 0.5rem;
    }
}
@media all and (max-width:360px) {
    #app{
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 0;
    }
}